<h1>{{title}}</h1>
<input type="text" #name placeholder="Enter Your Name:" name="Name"><br>
<input type="text" #address placeholder="Enter Your Address:" name="Address"><br>
<input type="text" #contact placeholder="Enter Your Contact No:" name="Contact"><br>
<input type="email" #email placeholder="Enter Your Email:" name="Email"><br>
<input type="password" #password placeholder="Enter Your Password:" name="Password"><br>
<button (click)="getValue(name.value,address.value,contact.value,email.value)">Register</button>
<h1>Your Registered Data</h1><br>
<p>Name:{{displayName}}</p>
<p>Address:{{displayAddress}}</p>
<p>Contact:{{displayContact}}</p>
<p>Email:{{displayEmail}}</p>